.form{
  width: 35rem;
}

.col-50{
  width: 90%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0.6rem;
  padding: 0.3rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.form input{
  width: 100%;
}

.form button {
  font: inherit;
  cursor: pointer;
  text-align:center;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  width: 80%;
  margin: 1rem 0rem;
}

.actions{
 text-align:center;
 width: 100%;
}

.form button:disabled,

.form button:disabled:hover{
  cursor:not-allowed;
  border: 1px solid #8a2b06;
  color: #8a2b06;
   background-color: #fff;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  width: 80%;
}


.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}

.form-control{
  padding: 0.5rem;
  outline:none;
}

.form-control:focus{
    border: 1px solid rgb(74, 74, 194);
    background-color: lightskyblue;
}

.invalid{
    border: 1px solid red;
    background-color: rgba(219, 92, 92, 0.8);
    color: #fff;
}

.sucess-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-text{
  font-size:0.8rem;
  color: red;
}
