.cart {
  list-style: none;
  padding: 0 1rem;
  width: 35rem;
  max-height: 25rem;
  overflow-y: auto;
}


.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 1rem;
}

.total h2{
    margin: 0;
    padding: 0;
}

.total p{
    margin: 0;
    padding: 0;
}

.actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.actions button {
  font: inherit;
  cursor: pointer;
  text-align: center;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}
.actions .order-btn {
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
}

.actions .order-btn:hover,
.actions .order-btn:active {
  background-color: #641e03;
  border-color: #641e03;
}

.actions .cancel-btn {
  background-color: #fff;
  border: 1px solid #8a2b06;
  color:  #8a2b06;;
  margin-right: 0.5rem;
}

.actions .cancel-btn:hover,
.actions .cancel-btn:active {
  background-color: rgba(211, 211, 211, 0.4);
  border-color: #641e03;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}

.message{
  font-size: 1.5rem;
  font-weight: bold;
  text-align:center;
  width: 100%;
  padding: 0.5rem;
  color: #641e03;
}

@media screen and (max-width: 700px) {
  .cart {
   max-width: 25rem;
  }
}


@media screen and (max-width: 450px) {
  .cart {
   max-width: 20rem;
  }
}
