.cartButton {
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0;
  cursor: pointer;
}

.cartButton:hover,
.cartButton:active {
  background-color: #2c0d00;
}

.cartButton p {
  font-weight: bold;
  font-family: "Noto Sans JP";
  color: #fff;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: var(--header-bg);
  border: 1px solid transparent;
  border-radius: 25px;
  width: 2.5rem;
  height: 2rem;
  display: grid;
  place-items: center;
  margin-left: 2rem;
  font-weight: bold;
  font-family: "Noto Sans JP";
  color: #fff;
}

/* Implementing the bump animation for cart button */

.bump {
  animation: bump 300ms ease-out;
  /* animation-iteration-count: infinite; */
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 850px) {
  .cartButton {
    padding: 0.3rem 0;
  }

  .badge {
    margin-left: 1rem;
  }

  .icon {
    margin-right: 0.2rem;
  }
}



@media screen and (max-width: 750px) {
  .cartButton {
    padding: 0.2rem 0;
  }

  .badge {
    margin-left: 0.5rem;
  }

  .icon {
    margin-right: 0.1rem;
  }
}



@media screen and (max-width: 700px) {
  .cartButton {
    padding: 0.2rem 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

   .cartButton p {
   display: none;
  }

  .badge {
 display: none;
  }

  .icon {
    margin-right: 0.1rem;
  }
}

